<!-- /views/error.ejs -->

<!-- views/error.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error - Image Processing Website</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>An Error Occurred</h1>
  <p><%= message %></p>
  <a href="/">Return to Home Page</a>
</body>
</html>
